@model IEnumerable<GCD0805AppDev.Models.Category>
@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>
<div class="form-group">
    @Html.ActionLink("Create a new category", "Create", "Categories", new { @class = "btn btn-primary" })
</div>
<form>
    <div class=" form-group">
        <input type="text" class=" form-control" placeholder="Search Category by Name" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
@*<ul>
      <li>Id: @Model.Id</li>
      <li>Description: @Model.Description</li>
      <li>Due Date: @Model.DueDate.ToString("d")</li>
    </ul>*@

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Description</td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Categories", new { id = item.Id}, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Edit", "Edit", "Categories", new { id = item.Id }, new { @class = "btn btn-success"})
                </td>
            </tr>
        }
    </tbody>
</table>